@import "../../style/style.scss";

.logo-first {
  font-size: 30px;
}

.rest {
  border-bottom: 2px solid $dk-color;
}

.navbar {
  margin-bottom: auto;
  border-bottom: double 4px $body-text;
  background-color: $bg-color!important;
  outline: solid 1px #6e6e6d;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

// .icon-background {
//   color: #ffcbb9;
// }
// .fa-search {
//   color: rgba(0, 0, 0, 0.5);
// }
// .fa-search:hover {
//   color: #000;
// }

// #searchbar {
//   display: none;
// }
// input {
//   border: 0;
//   outline: 0;
//   margin-left: 5px;
//   border-bottom: 1px solid darkgrey;
// }
