@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat&display=swap");

// Font

$header-font: "Crimson Text", serif;

$body-font: "Montserrat", sans-serif;

$body-text: #545454;

// color

$bg-color: #FFFDFE;

$dk-color: #fbbdab;

$md-color: #fcd3c7;

$lt-color: #fde9e3;