@import "./style/style.scss";

.App{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fde9e3' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html, body { overflow-x: hidden; }


body {
  font-family: $body-font;
  color: $body-text!important;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
  letter-spacing: 1.5px;
}

.btn-custom {
  padding: 13px 0 13px 0;
  min-width: 144px;
  background-color: $dk-color!important;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.btn-custom:hover {
  background-color: $md-color!important;
  transform: scale(1.02);
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.2);
}